body, html{
    height: 100%;
}

body{
    color: #777777;
    background-image: url("../images/crisp_paper_ruffles.png");
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
    font-size: 30px;
}
h2{
    font-size: 24px;
    color: #4aaaa5;

}

.container{
    max-width: 960px;
    margin: 0 auto;
    
}

.head{
    background-color: white;
    width: 100%;
    height: 50px;
    position: absolute;
    z-index: -1;
    border-bottom: 1px solid #cccccc;
}

header{
    width: 100%;
    background-color: white;
    display: inline-block;
    
}

.logo{
box-sizing: border-box;
width: 200px;
background-color: #4aaaa5;
display: block;
float: left;
height: 50px;
padding-left:20px;
padding-top: 10px;
color: white;
}

nav {
    float: right;
}

nav a {
    border-left: 1px solid black;
    float: left;
    color: #f2f2f2;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 17px;
    color: #777777;
    font-size: 12px;
}

nav a:first-child{
    border-left: none;
}

nav a:last-child{
    padding-right: 5px;
}

section{
    background-color: white;
    margin-top: 50px;
    padding: 20px;
    border: 1px solid #dddddd;
}

.sect-title{
    display: block;
    height: 50px;
    width: 100%;
    border-bottom: 2px solid #dddddd;
    margin-bottom: 20px;
}

section img{
    float: left;
    margin-right: 20px;
    height: 150px;
    width: 150px;
}

section p {
    line-height: 2;
    margin-bottom: 15px;
}

.foot-bar{
    height: 10px;
    width: 100%;
    background-color: #4aaaa5;
    position: fixed;
    bottom: 50px;
}

footer{
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #666666;
    height: 50px;
    font-size: 12px;
    color: white;
    padding-top: 25px;
}

/* form form form form form form form form form form form form form form form */



.form-item{
padding-bottom: 10px;
}

input[type="text"]{
width: 100%;
}

textarea {
    width: 100%;
    height: 150px;
    margin-top: 5px;
}
input{
    margin-top: 5px;
}
.button{
    background-color: #4aaaa5;
    border: none;
    color: white;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    
}

/* porto folio   porto folio  porto folio  porto folio  porto folio  porto folio */

.folio-contain {
    width: 500px;
    
}

.folio-contain img {
    width: 150px;
}

.folio{
    height: 550px;

}

.folio-piece{
    position: relative;
    padding-bottom: 10px;
    display: inline-block;
}

.folio-piece div{
box-sizing: border-box;
position: absolute;
bottom: 20px;
height: 40px;
font-size: 12px;
background-color: #4aaaa5;
width: 150px;
text-align: center;
color: white;
padding-top: 15px;
}